body
{

}

header
{
    height: 95vh;
    background: linear-gradient(rgba(255, 198, 73, 0.9),
    rgba(255, 171, 45, 0.9)),url("../imagenes/Bolt-91890.gif") left no-repeat;
    background-position: left;
    background-repeat: no-repeat;
    /*posicion del fondo que no se repita*/
    background-size: cover;
    
    
}

html
{
    scroll-behavior:smooth;    
}

}

.nav-item a
{
    color: white;
    font-size: 25px;
}

.contenedor
{
    width: 100%;
    max-width: 1300px;
    margin:auto;
}

.contenedor-titulo
{
    display: flex;
    justify-content: center;
    margin:18vh 0;

    /*vh es la altura de la ventana del navegador
    30 representa el margen arriba y abajo y el 0 el margen de derecha a izquierda*/

}

.contenedor .contenedor-titulo h1
{
    text-align: center;
    color: white;
    font-family: 'Bungee Outline', cursive;
    font-size: 150px;
}

.contenedor .contenedor-titulo h2
{
    text-align: center;
    color: white;
}
/********************************************************/
#Nostros img
{
    width: 378px;
}
#Nosotros h3
{
    text-align: center;
    font-size: 56px;
    font-weight: normal;
}
#Nosotros .contenido
{
    display: flex;
    /*alinear uno a lado del otro*/
    justify-content: space-around;
}


#Nosotros .about-text
{
    width: 42%;
}

#Nosotros p
{
    font-size: 20px;
}
/*////////////////////////////*/

#Encuentranos h3
{
    text-align: center;
    font-size: 56px;
    font-weight: normal;
}
#Encuentranos .contenido
{
    display: flex;
    /*alinear uno a lado del otro*/
    justify-content: space-around;
}

/*************************************/

#Maltrato h3
{
    text-align: center;
    font-size: 56px;
    font-weight: normal;
}
#Maltrato .contenido
{
    display: flex;
    /*alinear uno a lado del otro*/
    justify-content: space-around;
}
/*********************************/

footer
{
    height: 60vh;
    background: linear-gradient(rgba(255, 198, 73, 0.9),
    rgba(255, 171, 45, 0.9))left no-repeat;
    background-position: left;
    /*posicion del fondo que no se repita*/
    background-size: cover;
    
}