<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="../public/owl/owl.theme.default.min.css">
     
</head>

<body>
    <header>
        <div class="contenedor" id="contenedor-menu">
            <p class="logo">PetRescue</p>
            <nav>
                <ul>
                    <li>Nosotros</li>
                    <li>servicios</li>
                    <li>contactos</li>
                    <li>Iniciar sesion</li>
                </ul>
            </nav>
        </div>
        <div class="contenedor">
            <div class="contenedor-titulo">
                <div class="titulo">
                    <h1>PetRescue</h1>
                    <h2>Los animales son nuestra prioridad</h2>
                    
                </div>
            </div>
        </div>
    </header>

    <main>
        <!--contenido principal que no sea el header o el footer-->
        <section id="about">
            <div class="contenedor">
                <h3>Nosotros</h3>
                <div class="contenido">
                    <div class="about-img">
                        <img src="../public/imagenes/mascotas-preferidas-espanoles.jpg">
                    </div>
                    <div class="about-text">
                        <p>
                            Somos una organización sin fines de lucro compuesta por un grupo de voluntarios 
                            unidos por el amor hacia los animales y la convicción de que, juntos, podemos 
                            hacer mucho por ellos.
                        </p>
                        <p>
                            Con nuestra labor buscamos atacar el problema de los animales abandonados y 
                            maltratados desde dos frentes: por un lado, ayudando a rescatar perros y gatos 
                            para después buscarles hogares adoptivos responsables y, por el otro, sensibilizando 
                            a las personas y haciéndoles ver que todos somos parte de la solución. Parte importante 
                            de nuestra tarea concientizadora consiste en organizar campañas de esterilización 
                            y difundir las ventajas de este procedimiento para nuestros animales de compañía. 
                        </p>
                        
                    </div>
                </div>
            </div>
        </section>

        <section id="servicios">
                <div class="contenedor">
                    <h3>servicios</h3>
                    <div class="contenedor-servicios">
                        <div class="servicio violeta">
                            <h4>Donaciones</h4>
                            <p>
                                Otra de nuestras labores es la de recibir cualquier tipo
                                de donacion para estos animalitos que han sido victimas 
                                de maltrato y llevar estas donaciones a las diferentes 
                                organizaciones con las que nos contactamos para que no
                                les falte nada a estos animales. Cualquier muestra de 
                                apoyo que necesite realizar, no dude en comunicarse con
                                nosotros.
                            </p>
                                
                            <div class="icono"><img src="../public/imagenes/icon.png"></div>
                            <img src="../public/imagenes/waves.png" class = "waves" alt="waves">
                        </div>

                        <div class="servicio celeste">
                                <h4>Denuncias</h4>
                                <p>
                                    Nuestras principal labor es atender a las quejas de la gente 
                                    que ha evidenciado sobre cualquier indicio de maltrato animal
                                    y que de esta manera se pueda detener este tipo de actos que
                                    ningun animal deberia pasar. Ellos requieren el mismo amor que 
                                    cualquier persona tiene hacia otras. Los animales necesitan 
                                    empatia asi como nosotros a ellos.
                                </p>
                                <div class="icono"><img src="../public/imagenes/icon-mobile.png"></div>
                                <img src="../public/imagenes/waves.png" class = "waves" alt="waves">
                        </div>

                        <div class="servicio violeta">
                                <h4>Casas hogar</h4>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud exercitation . Excepteur sint occaecat cupidatat non proident, sunt in
                                    culpa qui officia deserunt mollit anim id est laborum."</p>
                                <div class="icono"><img src="../public/imagenes/icon-seo.png"></div>
                                <img src="../public/imagenes/waves.png" class = "waves" alt="waves">
                        </div>
                    
                    </div>
                </div>
            </section>

            <section id="servicios">
                <div class="contenedor">
                    <h3>Contactanos</h3>
                    <div class="contenedor-servicios">
                        
                        <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d127672.9945456949!2d-78.57932801402906!3d-0.2475545150346603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m3!3m2!1d-0.2475547!2d-78.50928739999999!4m0!5e0!3m2!1ses-419!2sec!4v1563256110710!5m2!1ses-419!2sec" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    
                    </div>
                </div>
            </section>



            <section id="trabajos">
                <div class = "contenedor">
                    <h3>Denuncias Resueltas</h3>
                    <div class = "contenedor-trabajos owl-carousel owl-theme">
                        <div class = "trabajo item">
                            <a href="www.google.com" target="_blank">
                            <img src="../public/imagenes/imac.png">
                            </a>
                            <p>Woodin Digital</p>
                        </div>
                        <div class = "trabajo item">
                                <a><img src="../public/imagenes/alimentar.jpg">
                                </a>
                                <p>Har Hamora</p>
                        </div>
                        <div class = "trabajo item">
                                <a><img src="../public/imagenes/isip.jpg">
                                </a>
                                <p>Isip</p>
                        </div>
                        <div class = "trabajo item">
                                <a><img src="../public/imagenes/chaia.jpg">
                                </a>
                                <p>Chaia</p>
                        </div>
                        
                    </div>
                </div>
            </section>

            

    </main>
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
    <script src="../public/owl/owl.carousel.min.js"></script>
    <script>
        
        var owl = $('.owl-carousel');
        owl.owlCarousel({
        loop:true,
        nav:true,
        margin:10,
        responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },            
        960:{
            items:5
        },
        1200:{
            items:6
        }
    }
    });
    owl.on('mousewheel', '.owl-stage', function (e) {
    if (e.deltaY>0) {
        owl.trigger('next.owl');
    } else {
        owl.trigger('prev.owl');
    }
    e.preventDefault();
    });
    </script>
    


</body>

</html>